# Python specific files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env
*.pylintrc
*.pylint.d

# Virtual environments
venv/
env/
ENV/
venv.bak/
venv.bak/

# Django specific
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VSCode settings
.vscode/

# MacOS specific
.DS_Store

# PyCharm settings
.idea/

# JetBrains IDE
*.idea/

# Thumbnails
*.thumbs.db

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C extensions
*.so

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Docker related
docker-compose*.yml
Dockerfile
